backend:
  name: git-gateway
  repo: TingNgs/portfolio
  branch: main
media_folder: public/img
public_folder: img
collections:
  - name: "pages"
    label: "Pages"
    files:
    - name: "config"
      label: "Config"
      file: "content/config.md"
      fields:
        - { label: "Title", name: "title", widget: "string" }
    - label: "Home"
      name: "home"
      file: "content/home.md"
      fields:
        - label: "Home"
          name: "home"
          widget: "object"
          collapsed: true
          fields: 
            - { label: "Title", name: "title", widget: "string" }
            - { label: "Description", name: "description", widget: "markdown" }
            - { label: 'Background Color', name: 'bg_color', widget: 'color' }
        - label: "About"
          name: "about"
          widget: "object"
          collapsed: true
          fields: 
            - { label: "Title", name: "title", widget: "string" }
            - { label: "Description", name: "description", widget: "markdown" }
            - label: "Content"
              name: "content"
              widget: "object"
              fields: 
                - { label: "Title", name: "title", widget: "string" }
                - { label: "Content", name: "content", widget: "markdown" }
            - label: "Skill"
              name: "skill"
              widget: "object"
              fields: 
                - { label: "Title", name: "title", widget: "string" }
                - label: "Skills"
                  name: "skills"
                  widget: "list"
                  fields:
                    - { label: "Skill title", name: "title", widget: "string" }
            - label: "Contact"
              name: "contact"
              widget: "object"
              fields: 
                - { label: "Title", name: "title", widget: "string" }
                - { label: "Email", name: "email", widget: "string" }
                - { label: "Github Url", name: "github", widget: "string" }
                - { label: "Linkedin Url", name: "linkedin", widget: "string" }
        - label: "Projects"
          name: "projects"
          widget: "object"
          collapsed: true
          fields: 
            - { label: "Title", name: "title", widget: "string" }
            - { label: "Description", name: "description", widget: "markdown" }
            - label: "Projects"
              name: "projects"
              widget: "list"
              fields:
                - { label: "Id", name: "id", widget: "string" }
                - { label: "Title", name: "title", widget: "string" }
                - { label: "Featured Image", name: "thumbnail", widget: "image" }
                - { label: "Description", name: "description", widget: "markdown" }
                - label: "Tech"
                  name: "tech"
                  widget: "list"
                  fields: 
                    - { label: "Title", name: "title", widget: "string" }
                - label: "Button"
                  name: "button"
                  widget: "object"
                  fields: 
                    - { label: "Text", name: "text", widget: "string" }
                    - { label: "Url", name: "url", widget: "string" }
        - label: "Experiences"
          name: "experiences"
          widget: "object"
          collapsed: true
          fields: 
            - { label: "Title", name: "title", widget: "string" }
            - label: "Experiences"
              name: "experiences"
              widget: "list"
              fields:
                - { label: "Company", name: "company", widget: "string" }
                - { label: "Company Description", name: "company_description", widget: "string" }
                - { label: "Title", name: "title", widget: "string" }
                - { label: "Date Start", name: "date_start", widget: "date", format: "MMM YYYY" }
                - { label: "Date End", name: "date_end", widget: "date", format: "MMM YYYY" }
                - { label: "Description", name: "description", widget: "markdown" }